
body {
  font-family: Garamond/* , Helvetica, arial, sans-serif */;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px; 
  text-align: justify}
  
h1 {font-size: 30px; color: red; }

h2 {font-size: 26px; border-bottom: 1px solid #cccccc; color: red; }

h3 {font-size: 24px; color: red;}

h4 {font-size: 22px; color: red;}

h5 {font-size: 20px; color: red;}

h6 {color: red; font-size: 14px; color: red;}

h7 {color: red; font-size: 12px; color: red;}
  

body > *:first-child {
  margin-top: 0 !important; }
body > *:last-child {
  margin-bottom: 0 !important; }


.inline {font-family:Papyrus; font-size:0.9em; color: black;}

.SmallCaps {font-variant:small-caps; font-weight:bold;}


.par {font-family:Papyrus; font-size:0.9em; color: purple;}

.has-orange-glow {
  filter: drop-shadow(0.25rem 0 0.75rem #ef9035);
}


blockquote { /* border-left: 4px solid white; */ /* border: none; */
  border-left: 6px solid transparent;
  padding: 0 15px; color: black; }
  blockquote > :first-child {margin-top: 10; /* color: black; */ }
  blockquote > :last-child {margin-bottom: 10; /* color: black; */ }


table { 
	border-spacing: 0px; border-collapse: collapse; 
  	padding: 0; text-align: justify;}
  
  table tr {
  	font-size: 14px; 
    /* border-top: 2px solid #cccccc; */
    background-color: #FDFEFE;
    margin: 0; padding: 0; 
    /* width: 1%; */}
    
    table tr:nth-child(2n) { background-color: #FEF5E7 ; }
      
    table tr th {
      font-weight: bold;
      border-spacing: 0px;
      /* border: 1px solid #cccccc; */
      margin: 0; padding: 0px 0px; 
      background-color: #F5CBA7;}
      
    table tr td {
      /* border: 1px solid #cccccc; */
      border-spacing: 0px;
      margin: 0; padding: 0px 0px; }
      
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
      
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }


.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}
      
pre[data-language-display]:before {
  content: attr(data-language-display);
}

  
// resets
//s { text-decoration:none; } //strike-through
//em { font-style: normal; font-weight: bold; } //italic emphasis


// colors
//s { color: green }
//em { color: red }

em { font-family::Garamond; font-size:0.9em; color: gray}

.center {
  text-align: right;
  margin: auto;
  position: relative;
  width: 100%;
}

.phb{
	column-gap: 0; 
}


img[alt="Compact"] { 
  max-width:  300px; 
  display: block;
  float: right;
  margin-left: 1em; 
}

img[alt="Identity"] { 
  max-width:  450px; 
  display: block;
  float: right;
  margin-left: 1em; 
}


img[alt="Generic"] { 
  max-width:  80%; 
  height: auto;
  display: block;
  margin-left: 0;
  margin-right: 0;
  /* float: right; */
  margin-left: 1em; 
}

<figcaption>{{ .Inner | Markdownify }}</figcaption>

img + em {
	/* styles here */
	float: right;
}


div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



div.container {
  text-align: center;
  padding: 10px 20px;
}





